*{
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
body {
    background-color: gray;

}
.Subcategories > p{
  font-size: 16px;
  display: inline;
  color: lightgray;
  padding: 1px;
  max-height: fit-content;
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: white;
}
header {
  text-align: center;
  background-color: 	#242526;
}
.Name{
  font-size: 40px;
  color: White;
  font: helvetica;
}
.Quote{
  font-size: 20px;
  color: white;
}
.FellowAmericans
{
  position: relative;
  width: 88%;
  border-radius: 20px;
}
.main {
  background-color: #111;

}
.intro {
margin-top: 20px;
text-align: center;
border-radius: 15px;
padding: 20px;
background-color: #242526;
}
.Info {
  color: white;
  font-size: 20px;
  border-radius: 40px;
  text-align: left;
  padding: 10px;
}
hr {
  margin: 25px;
  background-color: gray;
}
#Obama {
  max-width: 100%;
  padding: 0px;
}
#phottxt {
  max-height: 18px;
}
.photos{
  margin-top: 20px;
  padding : 20px;
  background-color: #242526;
  border-radius : 15px;
}
.photo {
  margin: 20px;
}
#subpic{
  border-radius: 50%;
  min-width: 50px;
  max-height: 50px;
  margin: 15px;
}
.subtext {
 padding: 15px;
}
.subtext2 {
margin-left: 15px;
margin-bottom: 5px;
}
#subtext3 {
  margin: 15px;
}

#postpic  {
  max-width: 100%;
}
.post {
  background-color:  #242526;
  color: white;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
}
#commentamount {
  float: right;
  margin-right: 5px;
}

#shareamount {
  float: right;
  margin-right: 20px;
}

#likeamount {
 display: inline;
 margin-left: 5px;
 font-size: 15px;
}
.reacts {
  padding: 10px;
}
.reactioninput {
  display: flex;
  justify-content: space-around; 
}

#reactionline {
  margin: 10px;
  background-color: gray;
}
.sortby {
 margin-left: 75%;
}
#myprofile {
 border-radius: 50%;
 padding-left: 4px;
}
#CommentHere {
height: 50px;
width: 100%;
border-radius: 25px;
font-size: 15px;
background-color: gray;
color: white;
border: 1px solid gray;
}

.youcomment {
  position: relative;
  display: flex;
  align-items: center;

}
input {
  padding: 10px;
  outline: none;
}
input::placeholder {
  color: lightgray;
  padding-left: 6px;
}
#emojipng {
  position: absolute;
  left: 85%;
  top: 25%
}
.pa-0 {
  padding: 2px;
}
.Subcategories {
  padding-bottom: 2px;
}
.verified {
  max-width: 15px;
}
#ObamaTLCorner {
  max-width: 100%;
  margin-bottom: 1px;
  padding: 0px;
  border-radius: 10px 0px 0px 0px;
}
#ObamaTRCorner {
  max-width: 100%;
  margin-bottom: 1px;
  padding: 0px;
  border-radius: 0px 10px 0px 0px;
}
#ObamaBLCorner {
  max-width: 100%;
  margin-bottom: 1px;
  padding: 0px;
  border-radius: 0px 0px 0px 10px;
}
#ObamaBRCorner {
  max-width: 100%;
  margin-bottom: 1px;
  padding: 0px;
  border-radius: 0px 0px 10px 0px;
}
#subparagraph {
  padding: 5px;
  margin-left: -15px;
  font-weight: bold;
}
.subparagraph2 {
  display: inline;
  padding: 5px;
  margin-left: -15px;
  font-weight: bold;
}
.donald {
  border-radius: 50%;
}
.randomcomment {
  padding: 20px;
}
.randomcommentbackground{
height: 50px;
max-width: 40%;
border-radius: 25px;
background-color: gray;
color: white;
padding-left: 15px;
}

@media screen and (max-width: 786px)
{
  .randomcommentbackground{
    max-width: 60%;
  }
}
.MessageButton {
  background-color: lightgray;
  color: white;
}

.ProfilePic {
  position: relative;
}
.ObamaPic {
    border-radius: 50%;
    position: absolute;
    top:50%; 
    left: 50%; 
    transform: translate(-50%, -100%);
  width: 20vmax;
  height: 20vmax;
}

